html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #dedede;
  background-image: url(../assets/images/noise.png), url(../assets/images/bg.png);
  background-position: 0 0, 0 0;
  background-size: auto, 100% auto;
  background-repeat: repeat, repeat-y;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  overflow-x: hidden;
  padding-top: 147px;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.main-header {
  padding: 100px,0;
}
.main-header__title {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "lora", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  font-size: 45px;
  color: black;
  margin: 0,0,70px;
}
.main-header__text {
  margin: 0  auto;
  max-width: 1400px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-family: "lora", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  font-size: 45px;
  color: black;
}
.main-header__picture {
  display: block;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}
.main-header__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 16.92%;
}
.main-header__text {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "lora", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  font-size: 45px;
  color: black;
}
.main-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.a {
  color: #1f1e1e;
  outline: none;
}
.img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  background-color: black;
  font-family: Lora;
  font-size: 36px;
  font-weight: 500;
  color: aliceblue;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 150px;
}
.button,
textarea,
input,
select {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
}
.button {
  cursor: pointer;
}
.textarea {
  resize: none ;
}
@font-face {
  font-family: "mak";
  src: local("MAK-bold"), url("../assets/fonts/MAK-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "mak";
  src: local("MAK-light"), url("../assets/fonts/MAK-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.pp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px 50px 50px;
  overflow-y: auto;
  z-index: 1000;
  background-color: #dedede;
}
@supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
  .pp {
    background-color: rgba(31, 30, 30, 0.4);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
  }
}
.pp__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1210px;
  margin: auto;
  padding: 0px 40px 40px;
  background-color: #dedede;
  background-image: url(.../assets/images/noise.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}
.pp__title {
  margin: -110px 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 84px;
  background-color: #1f1e1e;
  text-transform: uppercase;
  max-width: 595px;
  font-family: "Lora", serif;
  font-size: 22px;
  letter-spacing: 0.44px;
  line-height: 30px;
  color: #ffffff;
}
.pp__sticky-close {
  position: sticky;
  top: -100px;
  width: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 0;
  right: -70px;
}
.pp__sticky-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1f1e1e;
  color: #ffffff;
  border: none;
  outline: none;
  -webkit-transition: backround-color 0.2s;
  transition: backround-color 0.2s;
}
.pp__form {
  margin: auto;
  max-width: 870px;
}
.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.form__list--mb50 {
  margin-bottom: 50px;
}
.form__list {
  width: 100%;
}
.form__group {
  width: calc(50%-30px);
}
.form__field {
  display: block;
  width: 100%;
}
.form__field--w50 {
  width: calc(50%-30px);
}
.form__field--mb30 {
  margin-bottom: 30px;
}
.form__btn {
  max-width: 400px;
}
.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}
.contacts-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  background-color: #1f1e1e;
  color: #bc3324;
}
.contacts-item__title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  color: #1f1e1e;
}
.contacts-item__info {
  margin: 0 0 5px;
  display: block;
  font-weight: 400;
  font-size: 16px ;
  line-height: normal;
  color: #1f1e1e;
}
.contacts-item__info[href] {
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.contacts-item__info[href]:active {
  color: #bc3324;
}
.contacts-item__info:last-child {
  margin-bottom: 0;
}
.contacts__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px ;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 67px;
  margin-right: 30px;
}
.check {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 40px;
  display: block;
}
.check__input {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.check__input:checked ~ .check__mark {
  background-color: #1f1e1e;
}
.check__input:checked ~ .check__mark::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.check__mark {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #1f1e1e;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.check__label {
  font-size: 14px;
  color: #1f1e1e;
}
.reserve__tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.reserve__qty::after {
  content: " " attr(data-caption) " | " attr(data-price);
}
.reserve__sum::after {
  content: attr(data-currency);
  margin-left: 4px;
  font-size: 0.95em;
}
.reserve__total::before {
  content: attr(data-caption);
  margin-right: 30px;
}
.reserve__total::after {
  content: attr(data-currency);
  margin-left: 4px;
  font-size: 0.95em;
}
.subscribe {
  max-width: 410px;
  width: 100%;
}
.subscribe__title {
  margin: 0 0 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}
.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  margin-bottom: 15px;
}
.subscribe__input {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px 15px  15px 28px;
  background-color: #ffffff;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  border: none ;
  outline: none;
  background-color: #1f1e1e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.subscribe__submit:active {
  background-color: #bc3324;
}
.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.radio__label {
  display: block;
  margin-bottom: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 23px;
  position: relative;
  min-height: 23px;
  cursor: pointer;
}
.radio__label:last-child {
  margin-bottom: 0;
}
.radio__input {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.radio__input:checked ~ .radio__mark {
  background-color: #1f1e1e;
}
.radio__mark {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #1f1e1e;
  padding: 3px;
  background-clip: content-box;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.radio__name {
  display: block;
  margin-left: 23px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.field__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #1f1e1e;
  line-height: 25px;
}
.field__title--mb7 {
  margin-bottom: 7px;
}
.field__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.field__select,
.field__input,
.field__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 20px 16px;
  color: #1f1e1e;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #ffffff;
}
.field__select,
.field__input {
  height: 55px;
}
.field__textarea {
  height: 150px;
}
.field__input--w55 {
  width: 55px;
  padding: 17px 13px  16px;
}
.field__input--w110 {
  width: 110px;
}
.field__input--datetime {
  padding: 17px 13px  16px;
  text-align: center;
}
.field__input::-webkit-input-placeholder {
  color: #6c6c6c;
  font-size: 16px;
}
.field__input::-moz-placeholder {
  color: #6c6c6c;
  font-size: 16px;
}
.field__input:-ms-input-placeholder {
  color: #6c6c6c;
  font-size: 16px;
}
.field__input::-ms-input-placeholder {
  color: #6c6c6c;
  font-size: 16px;
}
.field__input::placeholder {
  color: #6c6c6c;
  font-size: 16px;
}
.field__label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #1f1e1e;
}
.field__label--textarea {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #1f1e1e;
  line-height: 25px;
}
.article__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px ;
  padding-right: 40px;
  max-width: 1414px;
  max-width: 1334px;
  height: auto;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article__title {
  width: 819px;
  height: 90px;
  top: 247px;
  left: 551px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-family: Lora;
  font-size: 70px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0em;
  margin-bottom: 120px;
}
.article__breadcrumbs {
  margin-top: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.article__img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  top: 417px;
  left: 712px;
  display: block;
  max-width: 700px;
  margin-bottom: 120px;
}
.article__schelude .article__content-title {
  margin: 1.3em 0 0.8em;
  font-family: "Open Sans", sans-serif;
  color: #1f1e1e;
  font-weight: 600;
  width: 405px;
  height: 256px;
  top: 1075px;
  left: 307px;
}
.article__content-title {
  font-size: 16px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.article__schelude {
  position: relative;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  gap: 30px;
}
.article__schelude:first-child {
  margin-top: 0;
}
.article__schelude:last-child {
  margin-bottom: 0;
}
.article__songs {
  position: relative;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.article ol,
.article ul,
.article p {
  margin: 20px 0;
  font-family: "Open Sans", sans-serif;
}
.article ol:first-child,
.article ul:first-child,
.article p:first-child {
  margin-top: 0;
}
.article ol:last-child,
.article ul:last-child,
.article p:last-child {
  margin-bottom: 0;
}
.article ul,
.article ol {
  position: relative;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.article ul > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 20px;
}
.article ul > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bc3324;
  pointer-events: none;
}
.article ol {
  counter-reset: li;
  padding: 0;
}
.article ol > li {
  counter-increment: li;
}
.article ol > li::before {
  content: counter(li) ". ";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 20px;
  color: #bc3324;
  white-space: pre;
}
.article ul > li,
.article ol > li {
  margin: 0 0 8px;
  cursor: default;
}
.article ul > li:last-child,
.article ol > li:last-child {
  margin-bottom: 0;
}
.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: aliceblue;
  padding: 15px 40px ;
  border: 2px solid black;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: blue;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}
.btn:active {
  background-color: #1f1e1e;
  color: #ffffff;
}
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  height: 0;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f1e1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.link:hover {
  color: #bc3324;
}
.link:active {
  color: #bc3324;
}
.link__icon {
  margin-left: 20px ;
}
.about {
  padding-bottom: 90px;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px ;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  padding-bottom: 40px;
}
.about__title {
  font-size: 44px;
  font-weight: 700;
  margin: 0 0 50px;
  color: #1f1e1e;
}
.about__title--w868 {
  max-width: 868;
  width: 100%;
}
.about__title--2 {
  grid-area: title;
}
.about__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0 0 100px;
  max-width: 870px;
  font-weight: 400;
  font-size: 18px;
  color: #1f1e1e;
}
.about__text--2 {
  grid-area: text;
  margin-left: auto;
}
.about__text--3 {
  margin-bottom: 90px ;
}
.about__picture {
  grid-area: picture1;
  position: relative;
  display: block;
}
.about__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 66.322%;
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__block2 {
  display: grid;
  grid-template-areas: "picture1 picture1 picture2 " "title title picture2" "text text text ";
  gap: 60px;
  grid-template-columns: 1fr 1fr 404px ;
}
.about__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.about__picture2 {
  grid-area: picture2;
  align-self: flex-end;
  position: relative;
  display: block;
}
.about__picture2::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 122.029%;
}
.about__picture3 {
  width: 100%;
  display: block;
  max-width: 930px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 9px 0 49px;
}
.about__picture3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65%;
  background-color: #bc3324;
}
.about__picture3::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 40.86%;
}
.about__img2 {
  position: absolute;
  top: 18px;
  left: 49px;
  right: 9px;
  bottom: 0;
  width: calc(100% - 58px);
  -o-object-fit: contain;
     object-fit: contain;
}
.about__block3-wrapper {
  max-width: 344px;
  width: 100%;
}
.section-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 624px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 62px;
  margin: 0 auto 150px;
  padding: 8px 45px;
  background-color: #1f1e1e;
  color: #ffffff;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.227;
  text-align: center;
  text-transform: uppercase;
}
.listing {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px ;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listing__event-card {
  max-width: 400px;
  width: calc(33.333% - 40px);
  margin: 0 30px 120px;
}
.listing__events-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px -120px;
}
.listing__link {
  margin-left: auto;
  margin-top: 40px;
}
.page-header {
  z-index: 100;
  width: 100%;
  position: fixed;
  border: 40px brown;
  top: 0;
  left: 0;
  height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DEDEDE80;
}
@support (backdrop-filter:blur(20px)) {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: #DEDEDE80;
}
.page-header__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px ;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center ;
      -ms-flex-align: center ;
          align-items: center ;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.page-header__nav-link {
  color: brown;
  margin: 0 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.page-header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0;
  text-decoration: none;
  width: 202px ;
  height: 147px;
}
.page-header__user-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: aliceblue;
  padding: 15px 40px ;
  border: 2px solid black;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: blue;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}
.page-header__user-btn:active {
  background-color: #1f1e1e;
  color: #ffffff;
}
.page-header__logo_img {
  width: 100%;
  height: 100%;
}
.page-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0 75px;
}
.page-footer__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px ;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
}
.page-footer__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.page-footer__border::before,
.page-footer__border::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  width: 2px;
}
.page-footer__border::before {
  margin-right: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#1C1B1B), color-stop(82.86%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
}
.page-footer__border::after {
  margin-left: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#1C1B1B), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 100%);
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__nav {
  margin-right: 30px;
  position: relative;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.page-footer__nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #bc3324;
}
.page-footer__nav-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1f1e1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.page-footer__nav-linkactive {
  color: #bc3324;
}
.events {
  padding: 140px 0 100px;
}
.events__listing {
  margin-bottom: 100px;
}
@import "blocks/event-card.less";
@import "blocks/breadcrumbs.less";
.home {
  padding: 100px 0;
}
.home__listing {
  margin-bottom: 95px;
}
.article-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.article-card:hover .article-card__picture {
  -webkit-box-shadow: 0 0 30px rgba(31, 30, 30, 0.55);
          box-shadow: 0 0 30px rgba(31, 30, 30, 0.55);
}
.article-card__link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  width: 467px;
  margin-right: 60px;
  font-size: 0;
  text-decoration: none;
}
.article-card__picture {
  display: block;
  position: relative;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  overflow: hidden;
}
.article-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 62.3126%;
}
.article-card__img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-card__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 30px 0;
  padding-right: 150px;
}
.article-card__time {
  margin: 0 0 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
.article-card__title-link,
.article-card__description {
  max-width: 470px;
}
.article-card__title-link {
  margin: auto 0 40px;
  color: #1f1e1e;
  text-decoration-color: transparent;
  -webkit-transition: color 0.2s, text-decoration-color 0.2s;
  transition: color 0.2s, text-decoration-color 0.2s;
}
.article-card__title-link:hover {
  color: #bc3324;
  text-decoration-color: #bc3324;
}
.article-card__title {
  margin: 0;
  color: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.article-card__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}
.article-card__arrow {
  position: absolute;
  right: 0;
  bottom: 30px;
  color: inherit;
  -webkit-transition: none;
  transition: none;
}
.article-card + .article-card {
  margin-top: 120px;
}
.article-card + .article-card::before {
  content: "";
  display: block;
  position: absolute;
  margin: 0 auto 60px;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1254px;
  height: 1px;
  background-color: #1f1e1e;
  pointer-events: none;
}
@media (hover: hover) {
  .pp__sticky-btn:hover {
    background-color: #a51505;
  }
  .contacts-item__info[href]:hover {
    color: #bc3324;
  }
  .subscribe__submit:hover {
    background-color: #bc3324;
  }
  .btn:hover {
    background-color: #1f1e1e;
    color: #ffffff;
  }
  .page-header__user-btn:hover {
    background-color: #1f1e1e;
    color: #ffffff;
  }
  .page-footer__nav-link:hover {
    color: #bc3324;
  }
}
